<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>This version of Moodly is set up to help College Students with the hardships and troubles that are associated with the college lifestyle. 

Instructions:

1. Before navigating think about what aspects of college life you are concerned about. 

2.Click on the Explore Bubble to begin

3. Search until you have found your concern. Consider it like a Choose your own adventure book, it is designed to hone in and target your concern. Feel free to explore all outlets to get a good feel for where things are located. </p>
